{% extends 'base.html.twig' %}

{% block title %}Bon PDF{% endblock %}
{% block body %}
    <h1>Bon Informatie</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Menu Item</th>
            <th>Reservering</th>
            <th>Tafel</th>
            <th>bon</th>
            <th>prijs</th>

        </tr>
        </thead>
        <tbody>
        <tr>
        {% for bon in bon %}
            <td>{{ bon.id }}</td>
            <td>{{ bon.menuitem }}</td>
            <td>{{ bon.reservering }}</td>
            <td>{{ bon.tafel }}</td>
            <td>{{ bon.bon }}</td>
            <td>{{ bon.menuitem.prijs }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <a href="/pdf/{{ id }}">Print Bon</a>
{% endblock %}
