{% extends 'pdfbase.html.twig' %}
{% block title %}Hello PdfController!{% endblock %}

{% block body %}
    <header>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </header>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Menu Item</th>
            <th>Reservering</th>
            <th>Tafel</th>
            <th>Bon</th>
            <th>Prijs</th>
        </tr>
        </thead>
        <tbody>
        {% for bestelling in bestelling %}
        <tr>
            <td>{{ bestelling.id }}</td>
            <td>{{ bestelling.menuitem }}</td>
            <td>{{ bestelling.reservering }}</td>
            <td>{{ bestelling.tafel }}</td>
            <td>{{ bestelling.bon }}</td>
            <td>{{ bestelling.menuitem.prijs }}</td>

        </tr>
        {% endfor %}
{#        Totaal = € {{  }}#}
        </tbody>
    </table>
{% endblock %}
